.footer {
    background: $white;
    font-size: 1.2rem;
    padding: 2rem 0;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint($mobile) {
            flex-direction: column;
            justify-content: center;
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
        @include breakpoint($mobile) {
            align-items: center;
        }
    }
    &__left-item {
        &:not(:last-child) {
            margin-bottom: 0.6em;
        }
        @include breakpoint($tablet800) {
            font-size: 1rem;
        }
        @include breakpoint($mobile) {
            text-align: center;
        }
    }
    &__privacy {
        color: $blue;
        text-decoration: underline;
    }
    & .nav__item {
        @include breakpoint($tablet700) {
            font-size: 1rem;
        }
    }
    & .nav__item {
        @include breakpoint($mobile) {
            margin-right: 0;
        }
    }
    & .nav {
        @include breakpoint($mobile) {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
        }
    }
}