.form {
    display: flex;
    flex-direction: column;
    
    background: $white;
    &__wrap {
        display: none;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 4;
    }
    &_modal {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        width: 30vw;
        padding: 5.4rem 3.6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        border-radius: 0.8rem;
        -webkit-border-radius: 0.8rem;
        -moz-border-radius: 0.8rem;
        -ms-border-radius: 0.8rem;
        -o-border-radius: 0.8rem;
        @include breakpoint($bp1100) {
            width: 45vw;
        }
        @include breakpoint($tablet700) {
            width: 60vw;
        }
        @include breakpoint($mobile) {
            width: 80vw;
        }
        @include breakpoint($small-mobile) {
            width: 100vw;
        }
    }
    &__state {
        display: none;
        padding: 10%;
        width: 30vw;
        border: 1px solid $grey;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        z-index: 5;
        background: $white;
        &._active {
            display: block;
        }
        @include breakpoint($bp1100) {
            width: 45vw;
        }
        @include breakpoint($tablet700) {
            width: 60vw;
        }
        @include breakpoint($mobile) {
            width: 80vw;
        }
        @include breakpoint($small-mobile) {
            width: 100vw;
        }
    }
    &__success {
        color: $green;
    }
    &__error {
        color: $orange;
    }
    &__state-txt {
        text-align: center;
        color: inherit;
        font-size: 1.6rem;
        @include breakpoint($tablet700) {
            font-size: 1rem;
        }
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0.83em;
    }
    &__subtitle {
        font-size: 1.4rem;
        margin-bottom: 2.5em;
        @include breakpoint($tablet) {
            font-size: 1.2rem;
            margin-bottom: 2em;
        }
    }
    &__input {
        border-radius: 0.4rem;
        -webkit-border-radius: 0.4rem;
        -moz-border-radius: 0.4rem;
        -ms-border-radius: 0.4rem;
        -o-border-radius: 0.4rem;
        border: 1px solid $grey;
        padding: 1.5rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
        color: $second-grey;
        @include breakpoint($tablet700) {
            padding: 1rem;
        }
    }
    &__privacy {
        margin-top: 1.6rem;
        font-size: 1.2rem;
        font-weight: 300;
    }
    &__privacy-link {
        color: $blue;
        text-decoration: solid;
    }
}