.nav {
    display: flex;
    align-items: center;
    &__item {
        transition: 0.5s easy-in;
        -webkit-transition: 0.5s easy-in;
        -moz-transition: 0.5s easy-in;
        -ms-transition: 0.5s easy-in;
        -o-transition: 0.5s easy-in;
        &:not(:last-child) {
            margin-right: 2.3em;
        }
        @include breakpoint($bp1100) {
            margin-bottom: 0.9em;
            text-align: center;
            font-size: 1.3rem;
        }
        
    }
    &__link {
        &:hover {
            cursor: pointer;
            color: $green;
        }
    }
    &_mobile {
        display: none;
        position: absolute;
        top: 0;
        z-index: $z-index-menu;
        flex-direction: column;
        align-items: flex-start;
        background: $white;
        width: 20rem;
        height: 100vh;
        padding: 2rem;
        border-radius: 0.8rem;
        -webkit-border-radius: 0.8rem;
        -moz-border-radius: 0.8rem;
        -ms-border-radius: 0.8rem;
        -o-border-radius: 0.8rem;
    }
}
