.title {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 0.67em;
}
.subtitle {
    font-size: 1.6rem;
    &_item {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
        font-weight: 600;
    }
}
.lead {
    font-size: 2rem;
    
    font-weight: 400;
}
.additional {
    &_big {
        font-size: 1.4rem;
    }
    &_small {
        font-size: 1.2rem;
    }
    
}