$white: #FFFFFF;
$grey: #F8F6F7;
$black: #333333;
$green: #00BF78;
$orange: #FB9475;
$blue: #278AFF;

$bpDefault: 1438px;
$bp1100: 1100px;
$tablet: 900px;
$tablet800: 800px;
$tablet700: 700px;
$mobile: 550px;
$small-mobile: 320px;

$z-index-menu: 4;
