<section class="brends">
    <div class="container container_vertical">
        <p class="subtitle brends__subtitle">Бренды, которые мы используем в работе</p>
        <div class="brends__wrap">
            <div class="brernds__item">
                <img class="brends__img" src="./assets/img/brends/brends1.png" alt="Wella">
            </div>
            <div class="brernds__item">
                <img class="brends__img" src="./assets/img/brends/brends2.png" alt="Schwarzkopf">
            </div>
            <div class="brernds__item">
                <img class="brends__img" src="./assets/img/brends/brends3.png" alt="Tigi">
            </div>
            <div class="brernds__item">
                <img class="brends__img" src="./assets/img/brends/brends4.png" alt="Londa">
            </div>
            <div class="brernds__item">
                <img class="brends__img" src="./assets/img/brends/brends5.png" alt="Nioxin">
            </div>
        </div>
    </div>
</section>