<header class="header">
    <ul class="nav nav_mobile">
        <img class="close" src="./assets/img/default/close.png" alt="закрыть">
        <li class="nav__item">
            <a class="nav__link" href="#services">Услуги и цены</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#masters">Мастера</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#works">Наши работы</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#about">О нас</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#contacts">Контакты</a>
        </li>
    </ul>
    <div class="container container_vertical header__container">
        <div class="header__top">
            <div class="header__top-left">
                <div class="menu">
                    <img class="menu__img" src="./assets/img/default/menu.png" alt="">
                </div>
                <p class="header__logo">
                    Мир красоты
                </p>
            </div>
            
            <div class="header__nav">
                {{> nav}}
            </div>
            <div class="header__contact">
                <a class="header__phone" href="tel:+84996861762">8 (499) 686-17-62</a>
                <p class="header__schedule">с 10.00 до 19.00 без выходных</p>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__text">
                <h2 class="title header__title">Создай свой образ
                    вместе с нами</h2>
                <p class="lead header__lead">Идеальный образ за 60 минут</p>
                <button class="button header__button">Записаться онлайн</button>
            </div>
            <div class="header__wrap-img">
                <img class="header-img" src="./assets/img/header/header__img.png" alt="">
            </div>
            <div class="header__network">
                <img class="header__network-img" src="./assets/img/networks/vk.png" alt="vk">
                <img class="header__network-img" src="./assets/img/networks/inst.png" alt="inst">
                <img class="header__network-img" src="./assets/img/networks/youtube.png" alt="yotube">
            </div>
        </div>
    </div>
</header>