<header class="header">
    <div class="container container_vertical header__container">
        <div class="header__top">
            <p class="header__logo">
                Мир красоты
            </p>
            <div class="header__nav">
                {{> nav}}
            </div>
            <div class="header__contact">
                <p class="header__phone">8 (499) 686-17-62</p>
                <p class="header__schedule">с 10.00 до 19.00 без выходных</p>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__text">
                <h2 class="title header__title">Создай свой образ
                    вместе с нами</h2>
                <p class="lead header__lead">Идеальный образ за 60 минут</p>
                <button class="button header__button">Записаться онлайн</button>
            </div>
            <div class="header__wrap-img">
                <img class="header-img" src="./assets/img/header/header__img.png" alt="">
            </div>
            <div class="header__network">
                <img class="header__network-img" src="./assets/img/networks/vk.png" alt="#">
                <img class="header__network-img" src="./assets/img/networks/inst.png" alt="#">
                <img class="header__network-img" src="./assets/img/networks/youtube.png" alt="#">
            </div>
        </div>
    </div>
</header>