<section class="masters">
    <div class="container">
        <a name="masters"></a>
        <h2 class="title">Мастера</h2>
        <p class="subtitle masters__subtitle">Дружная команда настоящих профессионалов</p>
        <div class="masters__wrap">
            <div class="item-master">
                <div class="item-master__button form_modal__open">
                    <div class="item-master__img-wrap">
                        <img class="item-master__img" src="./assets/img/masters/master1.jpg" alt="Краснова Ирина">
                    </div>
                    <p class="item-master__link">Записаться к мастеру</p>
                </div>
                
                <div class="item-master__info">
                    <p class="subtitle subtitle_item">Краснова Ирина</p>
                    <p class="additional additional_big">Мастер ногтевого сервиса</p>
                    <p class="item-master__experience">опыт работы 5 лет</p>
                </div>
            </div>
            <div class="item-master">
                <div class="item-master__button form_modal__open">
                    <div class="item-master__img-wrap">
                        <img class="item-master__img" src="./assets/img/masters/master2.jpg" alt="Калилова Жанна">
                    </div>
                    <p class="item-master__link">Записаться к мастеру</p>
                </div>
                <div class="item-master__info">
                    <p class="subtitle subtitle_item">Калилова Жанна</p>
                    <p class="additional additional_big">Визажист-стилист</p>
                    <p class="item-master__experience">опыт работы 5 лет</p>
                </div>
            </div>
            <div class="item-master">
                <div class="item-master__button form_modal__open" >
                    <div class="item-master__img-wrap">
                        <img class="item-master__img" src="./assets/img/masters/master3.jpg" alt="Киселева Алина">
                    </div>
                    <p class="item-master__link">Записаться к мастеру</p>
                </div>
                <div class="item-master__info">
                    <p class="subtitle subtitle_item">Киселева Алина</p>
                    <p class="additional additional_big">Парикмахер</p>
                    <p class="item-master__experience">опыт работы 5 лет</p>
                </div>
            </div>
            <div class="item-master">
                <div class="item-master__button form_modal__open">
                    <div class="item-master__img-wrap">
                        <img class="item-master__img" src="./assets/img/masters/master4.jpg" alt="Иванова Елена">
                    </div>
                    <p class="item-master__link">Записаться к мастеру</p>
                </div>
                <div class="item-master__info">
                    <p class="subtitle subtitle_item">Иванова Елена</p>
                    <p class="additional additional_big">Мастер ногтевого сервиса</p>
                    <p class="item-master__experience">опыт работы 5 лет</p>
                </div>
            </div>
        </div>
    </div>
</section>