<section class="price">
    <div class="container container_vertical">
        <h2 class="title">Услуги и цены</h2>
        <div class="price__tabs">
            <ul class="price__type">
                <li class="price__type-name _active">Стрижка и укладка</li>
                <li class="price__type-name">Косметология</li>
                <li class="price__type-name">Маникюр и педикюр</li>
                <li class="price__type-name">Макияж</li>
                <li class="price__type-name">Брови и ресницы</li>
                <li class="price__type-name">Массаж</li>
            </ul>
            <div class="price__wrap">
                <div class="price__item">
                    <div class="price__text">
                        <p class="subtitle subtitle_item">Женская стрижка</p>
                        <p class="additional additional_big">Короткие волосы</p>
                    </div>
                    <p class="price__num">1200 ₽</p>
                </div>
                <div class="price__item">
                    <div class="price__text">
                        <p class="subtitle subtitle_item">Стрижка бороды и усов</p>
                        <p class="additional additional_big">Короткие волосы</p>
                    </div>
                    <p class="price__num">1200 ₽</p>
                </div>
                <div class="price__item">
                    <div class="price__text">
                        <p class="subtitle subtitle_item">Мужская стрижка</p>
                        <p class="additional additional_big">Короткие волосы</p>
                    </div>
                    <p class="price__num">1200 ₽</p>
                </div>
                <div class="price__item">
                    <div class="price__text">
                        <p class="subtitle subtitle_item">Экспресс укладка</p>
                        <p class="additional additional_big">Короткие волосы</p>
                    </div>
                    <p class="price__num">1200 ₽</p>
                </div>
                <div class="price__item">
                    <div class="price__text">
                        <p class="subtitle subtitle_item">Детский Стиль</p>
                        <p class="additional additional_big">Короткие волосы</p>
                    </div>
                    <p class="price__num">1200 ₽</p>
                </div>
                <div class="price__item">
                    <div class="price__text">
                        <p class="subtitle subtitle_item">Укладка дневная</p>
                        <p class="additional additional_big">Короткие волосы</p>
                    </div>
                    <p class="price__num">1200 ₽</p>
                </div>
                <div class="price__item">
                    <div class="price__text">
                        <p class="subtitle subtitle_item">Креативный Стиль</p>
                        <p class="additional additional_big">Короткие волосы</p>
                    </div>
                    <p class="price__num">1200 ₽</p>
                </div>
                <div class="price__item">
                    <div class="price__text">
                        <p class="subtitle subtitle_item">Прическа вечерняя (свадебная)
                        </p>
                        <p class="additional additional_big">Короткие волосы</p>
                    </div>
                    <p class="price__num">1200 ₽</p>
                </div>
            </div>
        </div>
        
    </div>
</section>