<section class="services">
    <div class="container container_vertical">
        <h2 class="title">Популярные услуги</h2>
        <div class="services__wrap">
            <div class="item-serv">
                <div class="item-serv__img-wrap">
                    <img class="item-serv__img" src="./assets/img/services/item-serv.png" alt="Маникюр">
                </div>
                <div class="item-serv__info">
                    <p class="subtitle subtitle_item">Маникюр</p>
                    <p class="additional additional_small">Аппаратный, комбинированный или классический.</p>
                </div>
                <button class="button button_small">Записаться</button>
            </div>
            <div class="item-serv">
                <div class="item-serv__img-wrap">
                    <img class="item-serv__img" src="./assets/img/services/item-serv.png" alt="Гель-лак">
                </div>
                <div class="item-serv__info">
                    <p class="subtitle subtitle_item">Покрытие гель-лак</p>
                    <p class="additional additional_small">Гель-лак наносится в несколько слоев с использование базы и топа. Каждый слой полимеризуется в LED-лампе.</p>
                </div>
                <button class="button button_small">Записаться</button>
            </div>
            <div class="item-serv">
                <div class="item-serv__img-wrap">
                    <img class="item-serv__img" src="./assets/img/services/item-serv.png" alt="Бразильский маникюр">
                </div>
                <div class="item-serv__info">
                    <p class="subtitle subtitle_item">Бразильский маникюр</p>
                    <p class="additional additional_small">Выполняется в одноразовых перчатках, наполненных увлажняющим лосьоном.</p>
                </div>
                <button class="button button_small">Записаться</button>
            </div>
            <div class="item-serv">
                <div class="item-serv__img-wrap">
                    <img class="item-serv__img" src="./assets/img/services/item-serv.png" alt="Педикюр">
                </div>
                <div class="item-serv__info">
                    <p class="subtitle subtitle_item">Педикюр</p>
                    <p class="additional additional_small">Аппаратный, комбинированный или классический.</p>
                </div>
                <button class="button button_small">Записаться</button>
            </div>
            <div class="item-serv">
                <div class="item-serv__img-wrap">
                    <img class="item-serv__img" src="./assets/img/services/item-serv.png" alt="Парафинотерапия">
                </div>
                <div class="item-serv__info">
                    <p class="subtitle subtitle_item">Парафинотерапия</p>
                    <p class="additional additional_small">Благодаря этой процедуре увлажнение кожи увеличивается на 80%, также выводит токсины и укрепляет суставы.</p>
                </div>
                <button class="button button_small">Записаться</button>
            </div>
        </div>
    </div>
</section>