<section class="works">
    <a name="works"></a>
    <div class="container works__wrap">
        <h2 class="title">Наши работы</h2>
        <div class="works__arrows">
            <div class="works__arrow-wrap">
                <img class="works__arrow-img works__arrow_prev" src="./assets/img/works/arrow.png" alt="">
            </div>
            <div class="works__arrow-wrap">
                <img class="works__arrow-img works__arrow_next" src="./assets/img/works/arrow.png" alt="">
            </div>
        </div>
    </div>
    <div class="swiper">
        <div class="works__slider swiper-wrapper">
            <div class="works__item swiper-slide">
                <div class="works__item-btn">
                    <div class="works__item-img-wrap" data-src="./assets/img/works/works1.png" data-fancybox="gallery">
                        
                            <img class="works__item-img" src="./assets/img/works/works1.png" alt="Макияж">
                        
                    </div>
                    <div class="works__item-top">
                        <img class="works__top-img" src="./assets/img/works/zoom.svg" alt="лупа">
                        <p class="works__top-txt">Увеличить</p>
                    </div>
                </div>
            </div>
            <div class="works__item swiper-slide">
                <div class="works__item-btn">
                    <div class="works__item-img-wrap" data-src="./assets/img/works/works2.png" data-fancybox="gallery">
                        
                            <img class="works__item-img" src="./assets/img/works/works2.png" alt="Прическа">
                        
                    </div>
                    <div class="works__item-top">
                        <img class="works__top-img" src="./assets/img/works/zoom.svg" alt="лупа">
                        <p class="works__top-txt">Увеличить</p>
                    </div>
                </div>
            </div>
            <div class="works__item swiper-slide">
                <div class="works__item-btn">
                    <div class="works__item-img-wrap" data-src="./assets/img/works/works3.png" data-fancybox="gallery">
                            <img class="works__item-img" src="./assets/img/works/works3.png" alt="Маникюр">
                    </div>
                    <div class="works__item-top">
                        <img class="works__top-img" src="./assets/img/works/zoom.svg" alt="лупа">
                        <p class="works__top-txt">Увеличить</p>
                    </div>
                </div>
            </div>
            <div class="works__item swiper-slide">
                <div class="works__item-btn">
                    <div class="works__item-img-wrap" data-src="./assets/img/works/works4.png" data-fancybox="gallery">
                            <img class="works__item-img" src="./assets/img/works/works4.png" alt="Окрашивание">
                    </div>
                    <div class="works__item-top">
                        <img class="works__top-img" src="./assets/img/works/zoom.svg" alt="лупа">
                        <p class="works__top-txt">Увеличить</p>
                    </div>
                </div>
            </div>
            <div class="works__item swiper-slide">
                <div class="works__item-btn">
                    <div class="works__item-img-wrap" data-src="./assets/img/works/works3.png" data-fancybox="gallery">
                            <img class="works__item-img" src="./assets/img/works/works3.png" alt="Маникюр">
                    </div>
                    <div class="works__item-top">
                        <img class="works__top-img" src="./assets/img/works/zoom.svg" alt="лупа">
                        <p class="works__top-txt">Увеличить</p>
                    </div>
                </div>
            </div>
            <div class="works__item swiper-slide">
                <div class="works__item-btn">
                    <div class="works__item-img-wrap" data-src="./assets/img/works/works4.png" data-fancybox="gallery">
                            <img class="works__item-img" src="./assets/img/works/works4.png" alt="Окрашивание">
                    </div>
                    <div class="works__item-top">
                        <img class="works__top-img" src="./assets/img/works/zoom.svg" alt="лупа">
                        <p class="works__top-txt">Увеличить</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>